<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gytech.mapper.admin.SysDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gytech.entity.admin.SysDict">
        <id column="id" property="id" />
        <result column="dict_name" property="dictName" />
        <result column="dict_code" property="dictCode" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="parent_id" property="parentId" />
        <result column="dict_value" property="dictValue" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dict_name AS dictName, dict_code AS dictCode, create_user_id AS createUserId,
        update_user_id AS updateUserId, parent_id AS parentId, dict_value AS dictValue,sort
    </sql>

</mapper>
