<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gytech.mapper.work.DataAdcpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gytech.entity.work.DataAdcp">
        <id column="id" property="id" />
        <result column="adcp_station_id" property="adcpStationId" />
        <result column="obs_depth" property="obsDepth" />
        <result column="horizontal_velocity" property="horizontalVelocity" />
        <result column="horizontal_direction" property="horizontalDirection" />
        <result column="vertical_velocity" property="verticalVelocity" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, adcp_station_id, obs_depth, horizontal_velocity, horizontal_direction, vertical_velocity, remark
    </sql>

</mapper>
