<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gytech.mapper.work.RcBasicCruiseStanceInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gytech.entity.work.RcBasicCruiseStanceInfo">
        <id column="id" property="id" />
        <result column="cruise_segment_id" property="cruiseSegmentId" />
        <result column="metadata_id" property="metadataId" />
        <result column="cruise_stance_name" property="cruiseStanceName" />
        <result column="images_info_id" property="imagesInfoId" />
        <result column="water_dept" property="waterDept" />
        <result column="arr_station_time" property="arrStationTime" />
        <result column="out_station_time" property="outStationTime" />
        <result column="time_standard_id" property="timeStandardId" />
        <result column="stance_long" property="stanceLong" />
        <result column="stance_lat" property="stanceLat" />
        <result column="obsamp_method_id" property="obsampMethodId" />
        <result column="data_edit_id" property="dataEditId" />
        <result column="edit_time" property="editTime" />
        <result column="cruise_stance_remark" property="cruiseStanceRemark" />
        <result column="is_display" property="isDisplay" />
        <result column="impl_projects" property="implProjects" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cruise_segment_id, metadata_id, cruise_stance_name, images_info_id, water_dept, arr_station_time, out_station_time, time_standard_id, stance_long, stance_lat, obsamp_method_id, data_edit_id, edit_time, cruise_stance_remark, is_display, impl_projects
    </sql>

</mapper>
