@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1588754950792'); /* IE9 */
  src: url('iconfont.eot?t=1588754950792#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABjgAAAJCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo4XQE2AiQDCAsGAAQgBYRtBzkbjAURBTTJfh7YzRwxIihnIhiqeJpDzFR18O/j4b/9/rfP3LnvzxdTNLGI4knUI51fSXiiROiEQhWPnskXJnLzMMQDeMzfb7pnuDMqwrDm861n+Ru50ZWSpozncRqlEPIL+duS2vrawTX1E+hBYjuguUQERSVH0nhg04FGBY1sE5rxhrELXuBxAh1mbBR7sv3HFZk9LhD3060rSsEryyxRhFbD0iyeqJX0KL3D4+j78c+mKCR1xS45fHPvdTt+4qRUq82q8wHCR0Cra1TYiEwcb4weVAlGVTqi2QLHKgx+1jSBRRzVKNhfZ+d3gSkYC37mrRAggZz0dmNi0jWk6Lql3r8/8afqpDYPX8c+d31fOPygI/ZlFjvwz9KbtFkgmNz5ct+l3i3/Cxl8+atWZMiG2Sm7sAW/QjywKRtS25yyJm60J92TxiZ06EADOwf8mKobPm8yFMNnt7eZzqBSLKGZ3OirdbpKPi1Fux1Chw3y1Z0GsbHI7VjvAyD0+ULS4y1U+vzQTP5BbcQ/tPTFGDqcDLfstBJJjVELOjBvSJYa71pFxYUnDH2lOS+N6BtylwKwmM7LiRwb5CVmdI+wFPHgmWrIwGlYVQQtU4FWplGkPc5mvulNU0v1QNmNIU0gBxhvILFIwwfdhap8/gQFvYrGHWV13hvEOql/sDA1H4DmqmZQ2aO80nkIloTwgMdIDWRgEKpUCGibBxWQJabihHDraOa080NV0+019Q8UsipsfQpnr0rvg6Sbe5LeJE2T+XYwAA==') format('woff2'),
  url('iconfont.woff?t=1588754950792') format('woff'),
  url('iconfont.ttf?t=1588754950792') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1588754950792#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianqitubiao-06:before { content: "\e696";}


.icon-115rightarrowheads:before { content: "\e79b"; }

.icon-111arrowheadright:before { content: "\e6db"; }

.icon-116leftarrowheads:before { content: "\e807"; }

.icon-112leftarrowhead:before { content: "\e6f6"; }
